.service-support {
    .main-headign {
        margin-bottom: 40px;

        h3 {
            font-family: $semi_bold;
            font-size: 16px;
        }
    }

    .mySlides {
        display: none;
    }

    .btn {
        color: #000;
        text-transform: uppercase;
        font-family: $primary_font;
        font-size: 18px;
        border-radius: 20px;
        background-color: transparent;
        font-weight: bolder;
        letter-spacing: 1px;
        border: 1px solid #E8EAED;

        &:focus {
            box-shadow: none;
        }
    }

    .btn.active {
        background-color: $primary_color ;
        color: #fff;

    }

    .show_btn {
        background-color: #fff;
        color: #000;
    }

    .service-info {
        .service-img {
            img {
                width: 100%;
            }
        }

        .service-text {
            text-align: center;

            h6 {
                text-transform: uppercase;
                color: $primary_color;
                font-family: $semi_bold;
                font-size: 20px;
            }

            p {
                font-family: $primary_font;
                color: #000;
                font-size: 13px;
            }
        }
    }

    .service-btn {
        ul {
            display: flex;
            gap: 15px;
            list-style: none;
            overflow: scroll hidden;
            padding: 0 20px;

            &::-webkit-scrollbar {
                display: none;
            }

            li {

                // animation: scrollList 10s linear infinite;
                button {
                    width: 170px;
                }
            }
        }
    }
}